@inject MineSweeperData.Services.ScoresService scoreService

<h3>Your Latest Scores</h3>

<div class="tab-content mt-2">
    <div class="tab-pane active table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Points</th>
                    <th scope="col">Width</th>
                    <th scope="col">Height</th>
                    <th scope="col">Mines</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var score in shownScores)
                {
                    <tr>
                        <td>@score.Time.Minutes:@score.Time.Seconds</td>
                        <td>@ComputeScore(score).ToString()</td>
                        <td>@score.Width</td>
                        <td>@score.Height</td>
                        <td>@score.MineCount</td>
                        <td>@score.Date.ToString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <nav>
        <ul class="pagination justify-content-end">
            <li class="page-item" @onclick="PreviousPage">
                <a class="page-link">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 0; i < Math.Ceiling(scores.Count / (double)pageCount); i++)
            {
                int temp = i;
                string cssActive = (temp == pageNum ? "active" : ""); 
                <li class="page-item @cssActive" @onclick="() => PageSelected(temp)">
                    <a class="page-link">@(temp + 1)</a>
                </li>
            }
            <li class="page-item" @onclick="NextPage">
                <a class="page-link">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

@code {
    [CascadingParameter]
    private string userId { get; set; }

    IList<Score> scores = new List<Score>();
    IEnumerable<Score> shownScores = new List<Score>();
    int pageNum = 0;
    int pageCount = 10;

    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrEmpty(userId))
        {
            scores = (await scoreService.GetScoresByUserId(userId)).OrderByDescending(score => score.Date).ToList();
            shownScores = scores.Skip(pageNum * pageCount).Take(pageCount);
        }
    }

    private int ComputeScore(Score score)
    {
        int tileCount = score.Width * score.Height;
        return (int)((score.MineCount / (double)tileCount) * 100.0 * 1.3 * Math.Sqrt(tileCount) - score.Time.TotalSeconds);
    }

    public void AddNewScore(Score score)
    {
        scores.Add(score);
        scores.Insert(0, score);
        shownScores = scores.Skip(pageNum * pageCount).Take(pageCount);
        StateHasChanged();
    }

    public void NextPage()
    {
        if ((pageNum + 1) * pageCount > scores.Count)
        {
            return;
        }
        pageNum++;
        shownScores = scores.Skip(pageNum * pageCount).Take(pageCount);
    }

    public void PreviousPage()
    {
        if ((pageNum - 1) * pageCount < 0)
        {
            return;
        }
        pageNum--;
        shownScores = scores.Skip(pageNum * pageCount).Take(pageCount);
    }

    public void PageSelected(int pageNum)
    {
        shownScores = scores.Skip(pageNum * pageCount).Take(pageCount);
        this.pageNum = pageNum;
    }
}
