@using MineSweeperData.Models;
@inject MineSweeperData.Services.ScoresService scoresService;

<h3>Leader Boards</h3>

<ul class="nav nav-tabs" id="myTab">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" @onclick="() => UpdateDate(DateTime.Now.AddDays(-7), DateTime.Now)" href="#last7">Last 7 Days</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" @onclick="() => UpdateDate(DateTime.Now.AddDays(-30), DateTime.Now)" href="#last30">Last 30 Days</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" @onclick="() => UpdateDate(DateTime.Now.AddDays(-60), DateTime.Now)" href="#last60">Last 60 Days</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" @onclick="() => UpdateDate(DateTime.Now.AddDays(-90), DateTime.Now)" href="#last90">Last 90 Days</a>
    </li>
</ul>

<div class="tab-content mt-2">
    <div class="tab-pane active table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Player</th>
                    <th scope="col">Time</th>
                    <th scope="col">Points</th>
                    <th scope="col">Date</th>
                    <th scope="col">Message</th>
                </tr>
            </thead>
            <tbody>
                @for(int i = 0; i < scores.Count; i++)
                {
                    int rank = i + 1;
                    <tr>
                        <td>@rank</td>
                        <td>@(scores[i].ApplicationUser?.UserName ?? scores[i].Name)</td>
                        <td>@scores[i].Time.Minutes:@scores[i].Time.Seconds</td>
                        <td>@ComputeScore(scores[i]).ToString()</td>
                        <td>@scores[i].Date.ToShortDateString()</td>
                        <td>@scores[i].Message</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    IList<Score> scores = new List<Score>();

    protected override async Task OnInitializedAsync()
    {
        await UpdateDate(DateTime.Now.AddDays(-7), DateTime.Now);
        await base.OnInitializedAsync();
    }

    private async Task UpdateDate(DateTime start, DateTime end)
    {
        scores = (await scoresService.GetScoresInDateRange(start, end))
                    .OrderByDescending(ComputeScore)
                    .ToList();
    }

    public void AddScore(Score score)
    {
        scores.Add(score);
        StateHasChanged();
    }

    private int ComputeScore(Score score)
    {
        int tileCount = score.Width * score.Height;
        return (int) ((score.MineCount / (double)tileCount) * 100.0 * 1.3 * Math.Sqrt(tileCount) - score.Time.TotalSeconds);
    }
}
