@inject IScoresService scoreService

<h3>Your Latest Scores</h3>

<div class="tab-content mt-2">
    <div class="tab-pane active table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Points</th>
                    <th scope="col">Width</th>
                    <th scope="col">Height</th>
                    <th scope="col">Mines</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var score in shownScores)
                {
                    <tr>
                        <td>@score.Time.Minutes:@score.Time.Seconds</td>
                        <td>@ComputeScore(score).ToString()</td>
                        <td>@score.Width</td>
                        <td>@score.Height</td>
                        <td>@score.MineCount</td>
                        <td>@score.Date.ToString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <PaginationNav TotalCount="scores.Count" PageCount="pageCount" OnPageChangeCallback="OnPageChanged"></PaginationNav>
</div>

@code {
    [CascadingParameter]
    private string userId { get; set; }

    IList<Score> scores = new List<Score>();
    IEnumerable<Score> shownScores = new List<Score>();
    int pageCount = 10;
    int currentPage = 0;

    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrEmpty(userId))
        {
            scores = (await scoreService.GetScoresByUserId(userId)).OrderByDescending(score => score.Date).ToList();
            shownScores = scores.Skip(0 * pageCount).Take(pageCount);
        }
    }

    private int ComputeScore(Score score)
    {
        int tileCount = score.Width * score.Height;
        return (int)((score.MineCount / (double)tileCount) * 100.0 * 1.3 * Math.Sqrt(tileCount) - score.Time.TotalSeconds);
    }

    public void AddNewScore(Score score)
    {
        scores.Insert(0, score);
        shownScores = scores.Skip(currentPage * pageCount).Take(pageCount);
        StateHasChanged();
    }

    private void OnPageChanged(int pageNum)
    {
        shownScores = scores.Skip(pageNum * pageCount).Take(pageCount);
        currentPage = pageNum;
    }
}
